@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--header-height: 5.6rem;
}

@layer base {
	html {
		font-size: 62.5%;
	}
	body {
		@apply w-screen min-h-[100dvh] bg-black font-sans text-rg text-white;
		font-size: 1.6rem;
	}
}
