@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--header-height: 5.6rem;
	--border: 0, 0%, 8%;
}

@layer base {
	html {
		font-size: 62.5%;
	}
	body {
		@apply w-screen min-h-[100dvh] bg-black font-sans text-rg text-white Root;
		font-size: 1.6rem;
	}
}

@layer utilities {
	.mask-gradient-to-r {
		mask-image: linear-gradient(
			to right,
			transparent,
			black 10rem,
			black calc(100% - 10rem),
			transparent
		);
	}
	.Root {
		isolation: isolate;
	}
}
